.invalid-email {
  color: red;
  font-size: x-large;
  transition: 0.3s;
}

.invalid-pass {
  color: red;
  font-size: x-large;
  transition: 0.3s;
}

.email-input {
  border: 0.5px solid red;
  transition: 0.3s;
}

.pass-input {
  border: 0.5px solid red;
  transition: 0.3s;
}

.check {
  border: 1px solid red;
}
